{% extends 'base.html' %}

{% block title %}
    Mensajes - Encantos Mei
{% endblock %}

{% block content %}

    <div class="text-center my-4">
        <h1>
            Mensajes
        </h1>

        <div class="mb-3">
            <a href="{% url 'send_message' %}" class="btn btn-primary me-2">
                Enviar Mensaje
            </a>
            <a href="{% url 'sent_messages' %}" class="btn btn-primary">
                Ver Mensajes Enviados
            </a>
        </div>
    </div>


    <table class="table">
        <thead>
            <tr>
                <th>
                    Remitente
                </th>
                <th>
                    Contenido
                </th>
                <th>
                    Fecha de envío
                </th>
            </tr>
        </thead>
        <tbody>
            {% for message in messages %}
                <tr>
                    <td>
                        {{ message.sender.username|default:message.sender_name }}
                    </td>
                    <td>
                        {{ message.content }}
                    </td>
                    <td>
                        {{ message.sent_date|date:"D d M Y H:i" }}
                    </td>
                </tr>
            {% empty %}
            <tr>
                <td colspan="3">
                    No tiene mensajes recibidos
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>    
{% endblock %}
