{% extends 'base.html' %}

{% block title %}
    Encantos Mei
{% endblock %}

{% block content %}
    <h1 style="margin-top: 100px;">
        Conóceme
    </h1>
    <div style="text-align: justify; max-width: 700px; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); padding: 20px; font-size: 18px; line-height: 1.6; color: #333;">
        Mi nombre es Tilo González, soy un apasionado de la tecnología y actualmente estoy en proceso de perfeccionar mis habilidades en desarrollo web.
        Este sitio es parte de mi proyecto final para el curso de Python orientado al desarrollo web brindado por <a href="https://www.coderhouse.com/global/" style="font-weight: bold; color: #007bff;">Coderhouse</a>,
        donde he aprendido a utilizar herramientas como Django para crear aplicaciones funcionales y dinámicas.
    </div>    
    
{% endblock %}