{% extends 'base.html' %}

{% block title %}
    Editar Cliente - Encantos Mei
{% endblock %}

{% block content %}
    <h1 class="text-center my-4">Editar Cliente: {{ profile.user.username }}</h1>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div class="mb-3">
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            {{ form.email }}
        </div>
        
        <div class="mb-3">
            <label for="{{ form.address.id_for_label }}">{{ form.address.label }}</label>
            {{ form.address }}
        </div>

        <div class="mb-3">
            <label for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}</label>
            {{ form.phone_number }}
        </div>

        <div class="mb-3">
            <label for="{{ form.profile_picture.id_for_label }}">{{ form.profile_picture.label }}</label>
            {{ form.profile_picture }}
        </div>

        <button type="submit" class="btn btn-primary">Actualizar</button>
    </form>
    <a href="{% url 'clients' %}" class="btn">
        Volver a Clientes
    </a>
{% endblock %}