{% extends 'base.html' %}

{% load static %}

{% block title %}
    Encantos Mei
{% endblock %}

{% block content %}

<h1 class="text-center" style="margin-bottom: 100px; margin-top: 80px;">Bienvenida a Encantos Mei</h1>

    <div class="container my-4" style="display: flex; flex-direction: column;">
        <h2 class="text-center" style="margin-bottom: 80px;">Servicios Destacados</h2>
        
        <div class="row">
            <div class="col-md-4">
                <h3>Manicura</h3>
                <p>Disfruta de nuestras manicuras clásicas y diseños personalizados.</p>
            </div>
            <div class="col-md-4">
                <h3>Diseños de uñas</h3>
                <p>Haz que tus uñas sean una obra de arte con nuestros diseños únicos.</p>
            </div>
            <div class="col-md-4">
                <h3>Colocación de pestañas</h3>
                <p>Todas las técnicas para que te veas maravillosa.</p>
            </div>
        </div>
    </div>

{% endblock %}